.cart {
  margin: 1% !important;
}

.container {
  margin-left: 2%;
  margin-right: 2%;
}

.infected {
  border-bottom: solid 10px blueviolet;
}

.recovered {
  border-bottom: solid 10px greenyellow;
}

.deaths {
  border-bottom: solid 10px red;
}
.treatment {
  border-bottom: solid 10px orange;
}
