body {
  background: aliceblue;
}

h3 {
  padding: 15px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 960px) {
  .container {
    margin: 0 10%;
  }
}
